bin/*
obj/*
*.pdb
*.suo
*.user
.vs/*
*.sln.docstates
DAIRemote/.vs/DAIRemote/FileContentIndex/1aa143c6-c172-4f08-8d47-e7328251fb3d.vsidx
DAIRemote/.vs/DAIRemote/FileContentIndex/1e52d9dc-3ca4-4e5a-b915-07c9a2066fec.vsidx
DAIRemote/.vs/DAIRemote/FileContentIndex/32f2dcec-6ee9-4164-b3b9-03ad05384079.vsidx
DAIRemote/.vs/ProjectEvaluation/dairemote.metadata.v7.bin
DAIRemote/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
DAIRemote/obj/Debug/net8.0-windows/DAIRemote.AssemblyInfo.cs
.gitignore
DAIRemote/obj/Debug/net8.0-windows/DAIRemote.AssemblyInfoInputs.cache
DAIRemote/obj/Debug/net8.0-windows/DAIRemote.csproj.AssemblyReference.cache
.gitignore
DAIRemote/obj/Debug/net8.0-windows/DAIRemote.GeneratedMSBuildEditorConfig.editorconfig
DAIRemote/.vs/ProjectEvaluation/dairemote.projects.v7.bin
DAIRemote/obj/Debug/net8.0-windows/DAIRemote.GlobalUsings.g.cs
DAIRemote/.vs/DAIRemote/FileContentIndex/06904dab-77a7-4a88-85ba-bc2a953a946f.vsidx
